*{
    margin:0;
    padding : 0;
    
    box-sizing: border-box;
}
body{
    background-color: #fff;
}

.navbar{
    background-color: rgb(255, 239, 239);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 5px 15px;
    align-items: center;
    box-shadow: 1px 1px 1000px black;
    margin-bottom: 20px;
}

.navbar_logo{
    width: 110px;
    margin-left: 2px;
}
.navbar_logo_image{
    width: 100%;
}

.button_global{
    padding:8px;
    color: #fff;
    background-image: linear-gradient(to right, rgba(255,0,0,0.5), rgba(255,0,0,1));
    border: 0;
    border-radius: 10px;
}


.container{
    padding:10px;
}

.display_info{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(207, 15, 15); */
    background-image: linear-gradient(to right, rgba(255,0,0,0.6), rgba(255,0,0,1));

    /* margin-bottom: 20px; */
    height: 300px;
}

.display_info_img{
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}
.display_info_content{
    text-align: center;
    margin:10px;
    color: #fff;
}

.display_info_img_image{
    width:250px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgb(241, 189, 189) ;
}

.network_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    margin:10px;
}
.network_info_image{
    
    width: 80%;
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    /* margin: 50px; */
    margin-left: 20px;
    
    
}
.nerwork_info_text{
    margin: 10px;
    margin-left: -3px;
    margin-top: 50px;
    text-align: center;
}
.network_info_image{
    margin-left: 28px;
}

.network_info_image_image2_3,.network_info_image_image4_5{
    display: flex;
    /* flex-direction: row; */
    width: 100%;   
    justify-content: center; 
    gap: 50px;
    
}
.network_info_image_image2_3{
    margin-bottom: 50px;
    
}

.network_info_image_image2,.network_info_image_image3,.network_info_image_image4,.network_info_image_image5{
    width:45%;
    border-radius: 20px;    
}

.network_info_image_image2{
    box-shadow: -10px -20px 25px 2px grey ;
}
.network_info_image_image3{
    box-shadow: 20px -20px 30px grey ;

}
.network_info_image_image4{
    box-shadow: -20px 20px 30px grey ;

}
.network_info_image_image5{
    box-shadow: 20px 20px 25px grey ;

}
.network_info_image_image1{
    width: 75%;
    z-index: -1;
    position: absolute;
    margin-top: -30px;
    margin-left: 20px;
    box-shadow: 20px 20px 40px grey ;


}

.quote{
    position: relative;
    margin-top: 70px;
}

.quote_dialogue{
    position: absolute;
    color: #fff;
    font-size: large;
    text-align: center;
    margin-top: 40px;
    z-index: 1;
}
.quote_image_img{
    border-radius: 10px;    
    opacity:0.7;
    width: 100%;
}
.user_details{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.user_details_input_tags{
    width: 300px;
    height:45px;
    margin-bottom: 20px;
    border: 0;
    background-image: linear-gradient(to right, rgba(226, 32, 32, 0.5), rgb(231, 23, 23));
    color:white; 
    border-radius: 10px;
    padding: 0 25px;
    font-size: 15px;
}

.user_details_choice_options{
    display: flex;
    gap:10px;
    margin-top: 10px;
}

.user_details_question{
    font-weight: bolder;
    font-size: 21px;
}

.user_details_check_text{
    font-weight: bold;
    font-size: 17px;
}

.user_details_choice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_global_updates{
    margin-top: 20px;
    width:125px;
}
.button_global:focus{
    background-color: gray;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

footer{
    /* background-color: rgb(248, 24, 24); */
    background-image: linear-gradient(to right, rgba(255,0,0,0.66), rgba(255,0,0,1));

    color: #fff;
    border-radius: 0px 30px;
}
.social_media{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: -5px; */
    width: 70%;
    
}
.social_media_accounts{
    display: flex;
    width: 10%;
    gap:5px;
    
}

.social_media_accoutns_img1,.social_media_accoutns_img2,.social_media_accoutns_img3,.social_media_accoutns_img4{
    width:100%;    
}

.social_media_text{
    font-size: 23px;
    color: black;
}

.more_queries{
    margin-left: 35px;
    font-size: 17px;

    
}
.more_queries_list{
    list-style: none;
    font-weight:500;

}


@media(min-width:768px){
    .navbar{
        width: 100%;
        height:120px;
    }

    .navbar_logo{
        width: 20%;
    }

    .button_global{
        padding:25px 35px;
        font-size: 30px;
    }

    .display_info{
        height: 600px;
    }

    .display_info_content{
        font-size: 40px;
    }

    .display_info_img_image{
        width: 100%;
    }

    .nerwork_info_text{
        margin-top: 70px;
        font-size: 45px;
    }

    .network_info{
        align-items: center;
        margin: 0;
        
    }

    .network_info_image{
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .network_info_image_image2_3,.network_info_image_image4_5{
        gap:90px;
        margin-left: 0;
        width: 100%;
    }

    .network_info_image_image2_3{
        
        margin-top: 40px;
    }
    .network_info_image_image4_5{
        margin-top: 130px;
    }
    .network_info_image_image1{
        margin-top: -66px;
        margin-left: 50px;
    }

    .network_info_image_image2{
        /* width: 6000px; */
        /* margin-right: 200px; */
        width:100%;
    }

    

    .quote{
        width:95%;
        position: relative;
        /* margin-bottom: 100px; */
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 350px;
        margin-left: 25px;
        margin-bottom: 350px;

    }

    .quote_dialogue{
        font-size: 45px;
        position: absolute;
    }
    
    .quote_image{
        width: 100%;
        position: absolute;

    }
    .quote_image_img{
        width: 100%;
        border-radius: 20px;

    }

    .user_details_input_tags{
        width:400px;
        height: 60px;
    }

    .user_details{
        display: flex;
        flex-direction: row;
        margin-bottom: 35px;
    }

    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:50px;
        justify-content: center;
        align-items: center;
    }
    .user_details_updates_button{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;

    }

    .button_global_updates{
        margin-top: -15px;
        width: 25%;
    }

    .user_details_inputs_1_2{
        display: flex;
        gap:40px;

    }
    .user_details_input_tags{
        font-size: 30px;
    }
    .user_details_inputs_3_4{
        display: flex;
        gap:40px;
        margin-left: -255px;
        
    }
    .user_details_question{
        font-size: 35px;
    }
    .user_details_check_text{
        font-size: 27px;
    }
    .user_details_choice{
        margin-right: -300px;
    }
    footer{
        display: flex;
        height:350px;
        justify-content: space-around;
        /* flex-direction: column-reverse; */
        align-items: center;
        border-radius: 0 45px;
    }
    
    .social_media{
        width: 50%;
        margin-left: -120px;
    }
    .more_queries{
        font-size: 35px;
        margin-left: 20px;
    }

    .social_media_text{
        font-size: 35px;
    }
}